<div ng-controller="HeaderController as vm" style="background-color: rgb(41, 41, 41); height: 50px;">
  <div class="navbar-header">
    <img ui-sref="home" ng-src="/modules/core/client/img/chordLogo.png" style="height: 40px; margin: 5px; cursor: pointer;">
  </div>
  <nav class="navbar-collapse" uib-collapse="!vm.isCollapsed" role="navigation">
    <ul class="nav navauthenticationbar-nav navbar-right">
      <li class="divider-vertical"></li>
      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" style="color: rgb(0, 160, 0); height: 50px;" uib-dropdown-toggle role="button">
          <span>{{vm.user.display_name}}</span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="menuItemDiv">
            <span class="menuItem" ng-click="vm.joinParty()">
                Join Party
            </span>
          </li>
          <li class="menuItemDiv">
            <span class="menuItem" ng-click="vm.createParty()">
              Create Party
            </span>
          </li>
          <li class="divider"></li>
          <li class="menuItemDiv">
            <span class="menuItem">Signout</span>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
