<div layout="column" style="width: 47%; float: left; margin: 2% 1% 2% 2%; border-radius: 25px;">
    <div style="background-color: white;">
        <md-input-container style="margin-left: 10px; margin-top: 28px; margin-bottom: 8px;">
            <label>Search</label>
            <input ng-model="vm.querySong" type="text"></input>
        </md-input-container>
        <md-button style="background-color: rgb(0,160,0)" ng-click="vm.searchSong(vm.querySong)">
            Search
        </md-button>
    </div>

    <div style="background-color: rgb(0,160,0); height: 30px;"></div>

    <div style="background-color: white; height: 700px;">
        <div ng-repeat="song in vm.searchResults">
            <div class="songHover" layout="row">
                <div layout-align="center start">
                    <h4 style="margin-left: 10px;">{{song.name}} by {{song.artists[0].name}}</h4>
                </div>
                <div style="float: right;">
                    <md-button style="background-color: rgb(0,160,0); margin-left: 50px;" ng-click="vm.addToQueue(song)">Add to queue</md-button>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout="column" style="width: 47%; float: right; margin: 2% 2% 2% 1%">
    <div style="background-color: white; height: 94px;">
        <h3 style="font-size: 30px; margin-left: 10px;">Queue</h3>
    </div>

    <div style="background-color: rgb(0,160,0); height: 30px;"></div>

    <div style="background-color: white; height: 700px;">
        <div ng-repeat="song in vm.queuedSongs">
            <div class="songHover" layout="row">
                <div layout-align="center start">
                    <h4 style="margin-left: 10px;">{{song}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
